<div class="card shadow-sm bg-white p-2" style="overflow: hidden; height: 100%;box-shadow: .125rem .25rem rgba(34,34,34,0.15)">
    <div><span class="badge mb-1 @Context.Status.CssClass" style="white-space: pre-wrap;"></span></div>
    <span class="text-dark ps-0 mb-1">@Context.Appointment.CustomFields["SimpleField"]</span>
    <span class="text-dark ps-0 mb-1">@Context.Appointment.CustomFields["ReferenceField"]</span>
    @*obtain source object if needed @Context.Appointment.SourceObject*@
</div>

@code {
    public static RenderFragment<DxSchedulerAppointmentView> Create() {
        return (DxSchedulerAppointmentView schedulerAppointmentView) =>
            @<CustomAppointmentTemplate Context="@schedulerAppointmentView" />;
    }
    [Parameter]
    public DxSchedulerAppointmentView Context { get; set; }
}
